---
// src/pages/posts/[slug].astro

import { sanityClient } from "sanity:client";
import MainLayout from "../../layouts/MainLayout.astro";
import SanityImage from "../../components/SanityImage.astro";
import type { Post } from "../../types";
import PortableText from "../../components/PortableText.astro";
export async function getStaticPaths() {
  const posts = await sanityClient.fetch(
    `*[_type == "posts" && defined(slug)] | order(publishedAt desc)`
  );

  const paths = posts.map(
    (post: { slug: { current: string }; title: string; image: string }) => ({
      params: { slug: post.slug.current },
      props: {
        slug: post.slug.current,
        title: post.title,
        image: post.image,
      },
    })
  ) as {
    params: { slug: string };
    props: Post;
  }[];

  return paths;
}

const { title, slug, image, text } = Astro.props;
---

<MainLayout title={title}>
  <div>
    <div>
      <h1>Dynamic Route for {slug}</h1>
    </div>
    <div>
      <SanityImage node={image} width="300" />
    </div>
    <div>
      <h2>Text</h2>
      {text}
      <PortableText value={text} />
    </div>
  </div>
</MainLayout>
